<h1> Test </h1>
<ul>
    <li> for the yellow and grey section, just put in the lettters</li>
    <li> For the green letters section, put any of the non-green letters as an asterik!</li>
    <li> Theres an example in the boxes below!</li>
</ul>
<form action="/data" method = "POST">
    <p>Yellow Letters <input type = "text" name = "Yellow Letters" value="adeiu"/></p>
    <p>Grey Letters <input type = "text" name = "Grey Letters" value="ghsjf" /></p>
    <p>Green Letters <input type = "text" name = "Green Letters" value="lo***"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

